metadata:
  name: RX_Statistical
  description: Trained model from RX_Statistical experiment (statistical training)
  created: ''
  tags:
  - statistical
  - rx
  author: cuvis.ai
  cuvis_ai_version: 0.1.5.post26+g6df1b4549.d20251202
nodes:
- name: LentilsAnomalyDataNode
  class: cuvis_ai.node.data.LentilsAnomalyDataNode
  params:
    normal_class_ids:
    - 0
    - 1
- name: MinMaxNormalizer
  class: cuvis_ai.node.normalization.MinMaxNormalizer
  params:
    eps: 1.0e-06
    use_running_stats: true
- name: RXGlobal
  class: cuvis_ai.anomaly.rx_detector.RXGlobal
  params:
    eps: 1.0e-06
    num_channels: 61
    cache_inverse: true
- name: ScoreToLogit
  class: cuvis_ai.node.conversion.ScoreToLogit
  params:
    init_scale: 1.0
    init_bias: 0.0
- name: BinaryDecider
  class: cuvis_ai.deciders.binary_decider.BinaryDecider
  params:
    threshold: 0.5
- name: metrics_anomaly
  class: cuvis_ai.node.metrics.AnomalyDetectionMetrics
  params:
    execution_stages: null
- name: TensorBoardMonitorNode
  class: cuvis_ai.node.monitor.TensorBoardMonitorNode
  params:
    output_dir: outputs\rx_statistical\..\tensorboard
    run_name: RX_Statistical
    comment: ''
    flush_secs: 120
- name: mask
  class: cuvis_ai.node.visualizations.AnomalyMask
  params:
    channel: 30
    up_to: 5
connections:
- from: LentilsAnomalyDataNode.outputs.cube
  to: MinMaxNormalizer.inputs.data
- from: LentilsAnomalyDataNode.outputs.mask
  to: metrics_anomaly.inputs.targets
- from: LentilsAnomalyDataNode.outputs.mask
  to: mask.inputs.mask
- from: LentilsAnomalyDataNode.outputs.cube
  to: mask.inputs.cube
- from: MinMaxNormalizer.outputs.normalized
  to: RXGlobal.inputs.data
- from: RXGlobal.outputs.scores
  to: ScoreToLogit.inputs.scores
- from: ScoreToLogit.outputs.logits
  to: BinaryDecider.inputs.logits
- from: BinaryDecider.outputs.decisions
  to: metrics_anomaly.inputs.decisions
- from: BinaryDecider.outputs.decisions
  to: mask.inputs.decisions
- from: metrics_anomaly.outputs.metrics
  to: TensorBoardMonitorNode.inputs.metrics
- from: mask.outputs.artifacts
  to: TensorBoardMonitorNode.inputs.artifacts
