name: adaclip_cir_false_color_optimal_threshold
pipeline:
  name: ''
  nodes:
  - name: LentilsAnomalyDataNode
    class_name: cuvis_ai.node.data.LentilsAnomalyDataNode
    hparams:
      normal_class_ids:
      - 0
      - 1
      anomaly_class_ids: null
  - name: CIRSelector
    class_name: cuvis_ai.node.channel_selector.CIRSelector
    hparams:
      nir_nm: 860.0
      red_nm: 670.0
      green_nm: 560.0
  - name: AdaCLIPDetector
    class_name: cuvis_ai_adaclip.node.adaclip_node.AdaCLIPDetector
    hparams:
      weight_name: pretrained_all
      backbone: ViT-L-14-336
      prompt_text: ''
      image_size: 518
      prompting_depth: 4
      prompting_length: 5
      gaussian_sigma: 4.0
      use_half_precision: false
      enable_warmup: false
      enable_gradients: false
      use_torch_preprocess: true
  - name: TwoStageBinaryDecider
    class_name: cuvis_ai.deciders.two_stage_decider.TwoStageBinaryDecider
    hparams:
      image_threshold: 0.0847439244389534
      top_k_fraction: 0.001
      quantile: 0.995
      reduce_dims: null
      threshold: 0.5
  - name: ScoreHeatmapVisualizer
    class_name: cuvis_ai.node.anomaly_visualization.ScoreHeatmapVisualizer
    hparams:
      normalize_scores: true
      cmap: inferno
      up_to: 3
  - name: RGBAnomalyMask
    class_name: cuvis_ai.node.anomaly_visualization.RGBAnomalyMask
    hparams:
      up_to: 3
  - name: detection_metrics
    class_name: cuvis_ai.node.metrics.AnomalyDetectionMetrics
    hparams:
      execution_stages: null
  - name: TensorBoardMonitorNode
    class_name: cuvis_ai.node.monitor.TensorBoardMonitorNode
    hparams:
      output_dir: outputs\adaclip_cir_false_color_optimal_threshold\tensorboard
      run_name: AdaCLIP_CIR_FalseColor_OptimalThreshold
      comment: ''
      flush_secs: 120
  connections:
  - source: LentilsAnomalyDataNode.outputs.cube
    target: CIRSelector.inputs.cube
  - source: LentilsAnomalyDataNode.outputs.wavelengths
    target: CIRSelector.inputs.wavelengths
  - source: LentilsAnomalyDataNode.outputs.mask
    target: detection_metrics.inputs.targets
  - source: LentilsAnomalyDataNode.outputs.mask
    target: RGBAnomalyMask.inputs.mask
  - source: CIRSelector.outputs.rgb_image
    target: AdaCLIPDetector.inputs.rgb_image
  - source: CIRSelector.outputs.rgb_image
    target: RGBAnomalyMask.inputs.rgb_image
  - source: AdaCLIPDetector.outputs.scores
    target: TwoStageBinaryDecider.inputs.logits
  - source: AdaCLIPDetector.outputs.scores
    target: ScoreHeatmapVisualizer.inputs.scores
  - source: AdaCLIPDetector.outputs.scores
    target: RGBAnomalyMask.inputs.scores
  - source: TwoStageBinaryDecider.outputs.decisions
    target: detection_metrics.inputs.decisions
  - source: TwoStageBinaryDecider.outputs.decisions
    target: RGBAnomalyMask.inputs.decisions
  - source: ScoreHeatmapVisualizer.outputs.artifacts
    target: TensorBoardMonitorNode.inputs.artifacts
  - source: RGBAnomalyMask.outputs.artifacts
    target: TensorBoardMonitorNode.inputs.artifacts
  - source: detection_metrics.outputs.metrics
    target: TensorBoardMonitorNode.inputs.metrics
  metadata:
    name: AdaCLIP_CIR_FalseColor_OptimalThreshold
    description: ''
    created: '2026-02-25T11:15:55.273154'
    tags: []
    author: ''
    cuvis_ai_version: 0.1.3.post3+g8b8a61ee9
data:
  cu3s_file_path: data/Lentils/Lentils_000.cu3s
  annotation_json_path: data/Lentils/Lentils_000.json
  train_ids:
  - 0
  - 2
  - 3
  val_ids:
  - 1
  - 5
  test_ids:
  - 1
  - 5
  train_split: null
  val_split: null
  shuffle: true
  batch_size: 1
  processing_mode: Reflectance
training:
  seed: 42
  optimizer:
    name: adamw
    lr: 0.001
    weight_decay: 0.0
    momentum: 0.9
    betas: null
  scheduler: null
  callbacks: null
  trainer:
    max_epochs: 100
    accelerator: auto
    devices: null
    default_root_dir: null
    precision: 32-true
    accumulate_grad_batches: 1
    enable_progress_bar: true
    enable_checkpointing: false
    log_every_n_steps: 50
    val_check_interval: 1.0
    check_val_every_n_epoch: 1
    gradient_clip_val: null
    deterministic: false
    benchmark: false
    callbacks: null
  max_epochs: 100
  batch_size: 32
  num_workers: 4
  gradient_clip_val: null
  accumulate_grad_batches: 1
loss_nodes: []
metric_nodes:
- detection_metrics
freeze_nodes: []
unfreeze_nodes: []
output_dir: outputs\adaclip_cir_false_color_optimal_threshold
tags: {}
